
bin
build
# C extensions
.coverage
develop-eggs
dist
*.egg
*.egg-info
eggs
.installed.cfg
# Installer logs
lib
lib64
*.mo
# Mr Developer
.mr.developer.cfg
nosetests.xml
# Packages
parts
pip-log.txt
.project
*.py[cod]
.pydevproject
sdist
*.so
solum/openstack/common/db/solum.sqlite
.testrepository/
.tox
# Translations
# Unit test / coverage reports
var
